html
    head
        title Login
        meta(charset='utf8')
    body
        h1 Register with Mongodb & pug
        ul
            li
                a(href='/list') 목록보기
            li 
                a(href='/join') 가입하기
            li
                a(href='/login') 로그인하기