<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New</h1>
    <form action="/new" method="post">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="emp_number">emp_number</label>
            <input type="text" name="emp_number">
        </div>
        <div>
            <label for="email">email</label>
            <input type="text" name="email">
        </div>
        <div>
            <button type="submit">전송</button>
        </div>
    </form>
</body>
</html>