html 
    body 
        form(action="/lang" method="post") 
            p
                input(type="text" name="title" placeholder="title") 
            p
                textarea(name="description" placeholder="description")  
            p 
                input(type="submit" value="입력완료")   