<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>새 글 작성</h1>
    <form action="/write" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td>작성자</td>
                <td>
                    <input type="text" name="name" value="<%= user_name %>">
                </td>
            </tr>
            <tr>
                <td>제목</td>
                <td>
                    <input type="text" name="title">
                </td>
            </tr>
            <tr>
                <td>내용</td>
                <td>
                    <textarea name="content"></textarea>
                </td>
            </tr>
            <tr>
                <td>패스워드</td>
                <td>
                    <input type="password" name="passwd">
                </td>
            </tr>
            <tr>
                <td>파일</td>
                <td>
                    <input type="file" name="userfile">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">글쓰기</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>