html 
    head 
        title   Login
    body 
        form(action="/login" method="post") 
            p   
                label(for="userid")   아이디
                input(type="text" name="userid")    
            p
                label(for="passwd")   비밀번호
                input(type="password" name="passwd")
            p 
                input(type="submit" value="Login")   